<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/recuperar-senha.css">
    <link rel="stylesheet" href="../public/css/resoinsivo.css">
    <title>Avaliação de Atividade</title>
</head>
<body>
    <header class="container">
        <section class="usuario-container">
          <div class="gestao-de-dados">
              <h2>Avaliação de Atividade</h2><br><br>
              <div>
                  <label for="nota">Nota:</label>
                  <input type="number" id="nota" name="nota" min="0" max="10">
              </div>
              
                  <div>
              <label for="comentario">Comentário:</label>
              <textarea id="comentario" name="comentario"></textarea>
                  </div>
              
                  <button onclick="avaliarAtividade()" class="botao">Avaliar</button>
          </div>
        </section>

        <script src="avaliarAtividade.js"></script>
    </header>
</body>
</html>
