<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/painel.css">
    <title>Painel do Professor</title>
</head>
<body>
    <!-- Navegação vertical -->
    <div class="nav-vertical">
        <div class="nav-bar">
            <!-- Menu principal -->
            <div class="menu">
                <img src="../public/imagem/Icon/mingcute_menu-fill.svg">
                <span>Menu</span>    
            </div>
            <div class="separator"></div>
            <!-- Opções do menu vertical -->
            <div class="option-vertical">
                <div class="title-menu">
                    <span>PRINCIPAL</span>
                </div>
                <!-- Itens do menu -->
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Home-simple-door.svg">
                    <span>Home</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/User 1.svg">
                    <span>User</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Calendar.svg">
                    <span>Calendar</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Settings.svg">
                    <span>Settings</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/icon _key_.svg">
                    <a style="text-decoration: none;" href="altera-senha.html"><span>Change Password</span></a>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/icon _signout_.svg">
                    <a style="text-decoration: none;" href="../index.html"><span>Login page</span></a>
                </div>
                <div class="space"></div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Help-circle.svg">
                    <span>Help</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Conteúdo principal -->
    <div class="container">
        <div class="nav-horizontal">
            <!-- Título do cabeçalho -->
            <div class="title">
                <img src="../public/imagem/Icon/solar_water-sun-outline (2).svg" alt="logo">
                <h1>SEA</h1>
            </div>
            <!-- Opções horizontais -->
            <div class="option-horizontal">
                <img src="../public/imagem/Icon/Vector (2).svg">
                <img src="../public/imagem/Icon/Vector.svg">
                <img src="../public/imagem/Icon/Ellipse 6.svg">
            </div>
        </div>
        <!-- Conteúdo principal da página -->
        <div class="content">
            <h2>Olá, Fulano!</h2>
            <!-- Botões de ação -->
            <div class="buttons">
                <button class="create-turma" type="button" onclick="openAddPopup(), teladisabled()">CRIAR TURMA</button>
                <button class="create-atividade">CRIAR ATIVIDADE</button>
            </div>
            <p>Lista de Atividade:</p>
            <!-- Caixa de atividades -->
            <div class="atv">
                <div class="box-atividade">
                    <div class="atividade">
                        <div class="describe-atv">
                            <img src="../public/imagem/Icon/Ellipse 2.svg">
                            <div class="text-atividade">
                                <h2>Titulo da Atividade</h2>
                                <p>Disciplina</p>
                            </div>
                        </div>
                        <div class="option-atv">
                            <img src="../public/imagem/Icon/Edit.svg">
                            <img src="../public/imagem/Icon/Delete.svg">
                        </div>
                    </div>
                    <div class="atividade">
                        <div class="describe-atv">
                            <img src="../public/imagem/Icon/Ellipse 3.svg">
                            <div class="text-atividade">
                                <h2>Titulo da Atividade</h2>
                                <p>Disciplina</p>
                            </div>
                        </div>
                        <div class="option-atv">
                            <img src="../public/imagem/Icon/Edit.svg">
                            <img src="../public/imagem/Icon/Delete.svg">
                        </div>
                    </div>
                    <div class="atividade">
                        <div class="describe-atv">
                            <img src="../public/imagem/Icon/Ellipse 4.svg">
                            <div class="text-atividade">
                                <h2>Titulo da Atividade</h2>
                                <p>Disciplina</p>
                            </div>
                        </div>
                        <div class="option-atv">
                            <img src="../public/imagem/Icon/Edit.svg">
                            <img src="../public/imagem/Icon/Delete.svg">
                        </div>
                    </div>
                </div>
                <!-- Calendário -->
                <div class="container-cale">
                    <div class="header-cale">
                        <div class="seta">
                            <span id="ant" class="esquerda">&lt;</span>
                            <p class="data-atual"></p>
                            <span id="prox" class="direita">&gt;</span>
                        </div>
                    </div>
                    <div class="calendario">
                        <ul class="semanas">
                            <li>Dom</li>
                            <li>Seg</li>
                            <li>Ter</li>
                            <li>Qua</li>
                            <li>Qui</li>
                            <li>Sex</li>
                            <li>Sáb</li>
                        </ul>
                        <ul class="dias"></ul>
                    </div>
                </div>
            </div>
            <div class="tela">
                <div class="popupRemove" id="popupRemove">
                    <h2>Você tem certeza que deseja remover essa Turma?</h2>
                    <button type="button" onclick="remover(), closeRemovePopup(), telaEnabled()">Sim</button>
                    <button type="button" onclick="closeRemovePopup(), telaEnabled()">Não</button>
                </div>
                <div class="popupEdit" id="popupEdit">
                    <h2>Digite as novas informações</h2>
                    <input type="text" name="turmaNomeedit" placeholder="Nome..." autocomplete="off" class="turmanomeedit" id="turmaNomeedit">
                    <button type="button" class="btadicionar" onclick="closeEditPopup(), editar(), telaEnabled()">Confirmar</button>
                    <button type="button" class="btncancelar" onclick="closeEditPopup(), telaEnabled()">Cancelar</button>
                </div>
                <div class="popupAdd" id="popupAdd">
                    <h2>Digite as informações da Turma</h2>
                    <input type="text" name="turmaNomeadd" placeholder="Nome..." autocomplete="off" class="turmanomeadd" id="turmaNomeadd">
                
                    <div class="button-popup">
                        <button type="button" class="btadicionar" onclick="closeAddPopup(), adicionar(), telaEnabled()">Confirmar</button>
                        <button type="button" class="btncancelar" onclick="closeAddPopup(), telaEnabled()">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="backdrop" id="backdrop" onclick="stopPropagation()"></div>


            <p>Turmas:</p>
            <!-- Caixa de turmas -->
            <div class="box-turma" id="box-turma">
            <!-- As turmas serão adicionadas dinamicamente aqui -->
            </div>

        </div>
    </div>
    <script src="../public/js/painelaluno.js"></script>
    <script src="../public/js/painelprofessor.js"></script>

</body>
</html>