<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/painel.css">
    <title>Painel do Professor</title>
</head>
<body>
    <div class="nav-vertical">
        <div class="nav-bar">
            <div class="menu">
                <img src="../public/imagem/Icon/mingcute_menu-fill.svg">
                <span>Menu</span>    
            </div>
            <div class="separator"></div>
            <div class="option-vertical">
                <div class="title-menu">
                    <span>PRINCIPAL</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Home-simple-door.svg">
                    <span>Home</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/User 1.svg">
                    <span>User</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Calendar.svg">
                    <span>Calendar</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Settings.svg">
                    <span>Settings</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/box-arrow-in-left.svg">
                    <a style="text-decoration: none;" href="../index.html"><span>Login page</span></a>
                </div>
                <div class="space"></div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Help-circle.svg">
                    <span>Help</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="nav-horizontal">
            <div class="title">
                <img src="../public/imagem/Icon/solar_water-sun-outline (2).svg" alt="logo">
                <h1>SEA</h1>
            </div>
            <div class="option-horizontal">
                <img src="../public/imagem/Icon/Vector (2).svg">
                <img src="../public/imagem/Icon/Vector.svg">
                <img src="../public/imagem/Icon/Ellipse 6.svg">
            </div>
        </div>
        <div class="content">
            <h2>Olá, Fulano!</h2>
            <div class="buttons">
                <button class="create-turma">CRIAR TURMA</button>
                <button class="create-atividade">CRIAR ATIVIDADE</button>
            </div>
            <p>Lista de Atividade:</p>
            <div class="box-atividade">
                <div class="atividade">
                    <div class="describe-atv">
                        <img src="../public/imagem/Icon/Ellipse 2.svg">
                        <div class="text-atividade">
                            <h2>Titulo da Atividade</h2>
                            <p>Disciplina</p>
                        </div>
                    </div>
                    <div class="option-atv">
                        <img src="../public/imagem/Icon/Edit.svg">
                        <img src="../public/imagem/Icon/Delete.svg">
                    </div>
                </div>
                <div class="atividade">
                    <div class="describe-atv">
                        <img src="../public/imagem/Icon/Ellipse 3.svg">
                        <div class="text-atividade">
                            <h2>Titulo da Atividade</h2>
                            <p>Disciplina</p>
                        </div>
                    </div>
                    <div class="option-atv">
                        <img src="../public/imagem/Icon/Edit.svg">
                        <img src="../public/imagem/Icon/Delete.svg">
                    </div>
                </div>
                <div class="atividade">
                    <div class="describe-atv">
                        <img src="../public/imagem/Icon/Ellipse 4.svg">
                        <div class="text-atividade">
                            <h2>Titulo da Atividade</h2>
                            <p>Disciplina</p>
                        </div>
                    </div>
                    <div class="option-atv">
                        <img src="../public/imagem/Icon/Edit.svg">
                        <img src="../public/imagem/Icon/Delete.svg">
                    </div>
                </div>
            </div>
            <p>Turmas:</p>
            <div class="box-turma">
                <div class="turma"></div>
                <div class="turma"></div>
                <div class="turma"></div>
                <div class="turma"></div>
                <div class="turma"></div>
                <div class="turma"></div>
            </div>
        </div>
    </div>
</body>
</html>