<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Aluno</title>
    <link rel="stylesheet" href="../public/css/painel-aluno.css">
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!--Menu-->
    <nav id="menu">
        <div class="menu-item" id="menu-icon">
            <img src="../public/imagem/Icon/mingcute_menu-fill.svg" alt="Menu">
            <span class="menu-text">Menu</span>
        </div>
        <div id="separator"></div>
        <div class="menu-item" id="home">
            <img src="../public/imagem/Icon/Home-simple-door.svg" alt="Home">
            <span class="menu-text">Início</span>
        </div>
        <div class="menu-item" id="perfil">
            <img src="../public/imagem/Icon/User 1.svg" alt="Perfil">
            <span class="menu-text">Perfil</span>
        </div>
        <div class="menu-item" id="calendario-icon">
            <img src="../public/imagem/Icon/Calendar.svg" alt="Calendario">
            <span class="menu-text">Calendário</span>
        </div>
        <a style="text-decoration: none;" href="altera-senha.html" class="menu-item" id="changePassword">
            <img src="../public/imagem/Icon/icon _key_.svg">
            <span class="menu-text">Alterar Senha</span>
        </a>
        <a style="text-decoration: none;" href="../index.html" class="menu-item" id="logout">
            <img src="../public/imagem/Icon/icon _signout_.svg">
            <span class="menu-text">Logout</span>
        </a>
        <div class="menu-item" id="ajuda">
            <img src="../public/imagem/Icon/Help-circle.svg" alt="Ajuda">
            <span class="menu-text">Ajuda</span>
        </div>
    </nav>

    <!--Container Principal-->
    <div id="container">
        <!--Cabeçalho-->
        <header>
            <div class="inicio">
                <img class="logo" src="../public/imagem/logo.png" alt="logotipo">
                <h1 id="titulo">SEA</h1>
            </div>
                <img id="not" src="../public/imagem/Icon/Vector.svg">
            
        </header>

        <div id="wrap">
            <div id="textos">
                <h1 id="nome">Olá, Fulano!</h1>
                <p id="atv">Lista de Atividades:</p>
            </div>
            <div id="av">
                <!--Atividades-->
                <div id="atvi">
                    <div class="atividade">
                        <img class="at" src="../public/imagem/at1.png" alt="">
                        <div id="g1">
                            <h3 id="t-atv">
                                Título da atividade
                            </h3>
                            <p id="disciplina">
                                Disciplina
                            </p>
                        </div>
                        <div id="g2">
                            <p id="dia">
                                Sexta-Feira,
                            </p>
                            <p id="hora">
                                23:59
                            </p>
                        </div>
                    </div>
                    <div class="atividade">
                        <img class="at" src="../public/imagem/at2.png" alt="">
                        <div id="g1">
                            <h3 id="t-atv">

                                Título da atividade
                            </h3>
                            <p id="disciplina">
                                Disciplina
                            </p>
                        </div>
                        <div id="g2">
                            <p id="dia">
                                Sexta-Feira,
                            </p>
                            <p id="hora">
                                23:59
                            </p>
                        </div>
                    </div>
                    <div class="atividade">
                        <img class="at" src="../public/imagem/at3.png" alt="">
                        <div id="g1">
                            <h3 id="t-atv">
                                Título da atividade
                            </h3>
                            <p id="disciplina">
                                Disciplina
                            </p>
                        </div>
                        <div id="g2">
                            <p id="dia">
                                Sexta-Feira,
                            </p>
                            <p id="hora">
                                23:59
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Calendário -->
                <div class="container-cale">
                    <div class="header-cale">
                        <div class="seta">
                            <span id="ant" class="esquerda">&lt;</span>
                            <p class="data-atual"></p>
                            <span id="prox" class="direita">&gt;</span>
                        </div>
                    </div>
                    <div class="calendario">
                        <ul class="semanas">
                            <li>Dom</li>
                            <li>Seg</li>
                            <li>Ter</li>
                            <li>Qua</li>
                            <li>Qui</li>
                            <li>Sex</li>
                            <li>Sáb</li>
                        </ul>
                        <ul class="dias"></ul>
                    </div>
                </div>

            </div>
        </div>
        <!--Turmas-->
        <div id="turmac">
            Turmas:
        </div>
        <div id="salas">
            <div class="turmas">turma</div>
            <div class="turmas">turma</div>
            <div class="turmas">turma</div>
            <div class="turmas">turma</div>
            <div class="turmas">turma</div>
            <div class="turmas">turma</div>
        </div>

    </div>
    <script src="../public/js/painelaluno.js"></script>
</body>

</html>