<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tipousuario.css">
    <title>Tipo de Usuario</title>
</head>
<body>
    <div class="main-user">
        <div class="left-user"> 
            <img src="../public/imagem/Visual.gif" alt="escola" class="imagem-escola">
        </div>
        <div class="rigth-user">
            <div class="container-users">
                <div class="card card-professor">
                    <a href="../views/cadastroprofessor.html">
                        <img src="../public/imagem/professor.png" alt="escola" class="imagem-usuario">
                        <h1>Professor</h1>
                        <p>Gerencia turmas, cria e adiciona atividades, avalia o progresso dos alunos, interage com os estudantes e fornece recursos educacionais.</p>
                    </a>
                </div>
                <div class="card card-aluno">
                    <a href="../views/cadastroaluno.html">
                        <img src="../public/imagem/aluno.png" alt="escola" class="imagem-usuario">
                        <h1>Aluno</h1>
                        <p>Participa de turmas, acessa atividades, envia tarefas, acompanha seu progresso acadêmico e interage com o professor e colegas de classe.</p>
                    </a>
                </div>
                </div>
            </div>    
        </div>
    </div>
</body>
</html>
</body>
</html>