<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/painel.css">
    <title>Painel do Professor</title>
</head>
<body>
    <!-- Navegação vertical -->
    <div class="nav-vertical">
        <div class="nav-bar">
            <!-- Menu principal -->
            <div class="menu">
                <img src="../public/imagem/Icon/mingcute_menu-fill.svg">
                <span>Menu</span>    
            </div>
            <div class="separator"></div>
            <!-- Opções do menu vertical -->
            <div class="option-vertical">
                <div class="title-menu">
                    <span>PRINCIPAL</span>
                </div>
                <!-- Itens do menu -->
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Home-simple-door.svg">
                    <span>Home</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/User 1.svg">
                    <span>User</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Calendar.svg">
                    <span>Calendar</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Settings.svg">
                    <span>Settings</span>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/icon _key_.svg">
                    <a style="text-decoration: none;" href="altera-senha.html"><span>Change Password</span></a>
                </div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/icon _signout_.svg">
                    <a style="text-decoration: none;" href="../index.html"><span>Login page</span></a>
                </div>
                <div class="space"></div>
                <div class="menu-item">
                    <img src="../public/imagem/Icon/Help-circle.svg">
                    <span>Help</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Conteúdo principal -->
    <div class="container">
        <div class="nav-horizontal">
            <!-- Título do cabeçalho -->
            <div class="title">
                <img src="../public/imagem/Icon/solar_water-sun-outline (2).svg" alt="logo">
                <h1>SEA</h1>
            </div>
            <!-- Opções horizontais -->
            <div class="option-horizontal">
                <img src="../public/imagem/Icon/Vector (2).svg">
                <img src="../public/imagem/Icon/Vector.svg">
                <img src="../public/imagem/Icon/Ellipse 6.svg">
            </div>
        </div>
        <!-- Conteúdo principal da página -->
        <div class="content">
            
        </div>
    </div>
</body>
</html>