@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins&display=swap');

body{
    margin: 0;
}
body *{
    box-sizing: border-box;
}

.main-cadastro{
    width: 100%;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-cadastro > h1{
    font-size: 3vw;
    color: #2CD986;
    font-family: 'Poppins', sans-serif;
}
.rigth-cadastro{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.card-cadastro {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    background: rgb(47, 40, 65);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.337) 0px 10px 40px;
}
.card-cadastro > h1{
    color: #ffffff;
    font-weight: 800;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.textfild{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
.textfild >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#514869 ;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow:  0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.textfild > input::placeholder{
    color: #f0ffff94;
    font-family: 'Poppins', sans-serif;
}
.button-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.button-container button {
    width: 50%;
    padding: 10px 5px;
    margin: 10px 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background: #2CD986;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}

.button-container button:hover {
    background-color: #1D8F58;
}

a {
    text-decoration: none; 
    color: inherit; 
}

.categoria-container {
    width: 100%;
    height: 48px;

    background-color: #514869;
    border-radius: 10px;
    display: flex;
    color: white;

    margin-top: 15px;
    margin-bottom: 15px;

}

.categoria-container > #professor {
    background-color: transparent;
    border: none;
    width: 50%;
    height: 100%;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

.categoria-container > #aluno {
    background-color: #2D2840;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 768px){
    .main-cadastro{
        flex-direction: column;
        width: 100vw;
        height: 120vh;
        
    }
    .left-cadastro > h1{
        display: none;
     }
    .left-cadastro{
        width: 100%;
        height: auto;
    } 
    .rigth-cadastro{
        width: 90%;
        height: 90%;
    }
    .imagem-escola{
        display: none;
    }
    .card-cadastro{
        width: 85%;
    }
    .button-container button{
        width: 100%;
    }
    .textfild {
        height: 30px;
        margin: 12px; 
    }
    .textfild > input {
        padding: 10px; 
        font-size: 10pt; 
    }
}
@media (max-width: 400px) {
    .button-container {
        flex-direction: column; /* Empilhar os botões verticalmente */
        align-items: center; /* Centralizar os botões horizontalmente */
    }

    .button-container button {
        width: 100%; /* Utilizar toda a largura disponível */
        margin: 10px 0; /* Adicionar margem entre os botões */
        padding: 12px 0; /* Diminuir o padding (espaçamento interno) dos botões */
        font-size: 12px; /* Diminuir o tamanho da fonte dos botões */
        font-family: 'Poppins', sans-serif;
    }
}
