body{
    background-color: #201b2c;
    margin: 0px;
}
body*{
    box-sizing: border-box;
    width: 100vh;
}

.main-login{
    padding-top: 2rem;
    width: 100vw;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 3vw;
    color: #2CD986;
}
.rigth-login{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.875rem 2.1875rem;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}
.card-login > h1{
    color: #2CD986;
    font-weight: 800;
    margin: 0;
}
.textfild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfild >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: .9375rem;
    background:#514869 ;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow:  0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfild > label{
    color:#f0ffffde;
    margin-bottom: 10px;
}
.textfild > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 1rem 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1875rem;
    color: #2b134b;
    background: #2CD986;
    cursor: pointer;
}
.btn-login:hover{
    background-color: #00c56a;
}

.btn-login a{
    text-decoration: none; 
    color: inherit; 
}
.cadastro{
    color:#BDBDBD;
}

@media only screen and(max-width: 950px){
    .card-login{
        width: 85%;
    }

}
@media only screen and(max-width: 950px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
     }
    .left-login{
        width: 100%;
        height: auto;
    } 
    .rigth-login{
        width: 100%;
        height: auto;
    }
    .laft-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }

}

.recuperar-senha{
    color:#BDBDBD;
}
.cadastro{
    color:#BDBDBD;
}