/* HTML e corpo da página */
html,
body {
    background: #201B2C;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}

/* Cabeçalho da página */
header {
    background: #201B2C;
    position: fixed;
    display: flex;
    height: 4.375rem;
    width: 100%;
    border: 1px solid #4B4B4B;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.inicio {
    display: flex;
}

.option-horizontal {
    display: flex;
    width: 140px;
    justify-content: space-around;
    padding-right: 3rem;
    gap: 19.2px;
}

/* Contêiner principal da página */
#container {
    margin-left: 3.95rem;
    margin-top: 4rem;
    width: 94.75%;
    height: 28.625rem;
    display: grid;
    justify-content: center;
}

/* Estilos para a seção de textos */
#textos {
    font-family: 'Poppins', sans-serif;
    display: inline;
    padding-top: 3rem;
    color: #FFFFFF;
}

/* Seção de atividades */
#atvi {
    padding-right: 6.5rem;
    display: grid;
    gap: 0.64rem;
    align-content: center;
}

.atividade {
    display: flex;
    width: 39.45281rem;
    height: 3.73219rem;
    border-radius: 1.25rem;
    background: #2D2840;
    box-shadow: 2px 6px 19px 0px rgba(0, 0, 0, 0.25);
    color: #ADADAD;
    align-items: center;
}

#atv {
    font-size: 1.267rem;
}

.at {
    padding-left: 0.96rem;
    width: 2.76456rem;
    height: 2.76456rem;
}

#g1 {
    padding-left: 1.57rem;
    font-family: 'Poppins';
}

#g2 {
    font-size: 0.806rem;
    font-family: 'Poppins';
    padding-left: 17rem;
}

#t-atv, #disciplina, #dia, #hora {
    margin: 0;
}

#av {
    width: 63.1245rem;
    display: flex;
    align-items: flex-start;
}

ul {
    padding-inline-start: 0;
}

/* Contêiner do calendário */
.container-cale {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4B4B4B;
    width: 18.7rem;
    border-radius: 0.46075rem;
    background: #2D2840;
    box-shadow: 1.84305px 14.74442px 17.509px 0px rgba(0, 0, 0, 0.09);
    font-family: 'Poppins', sans-serif;
    font-size: 0.864rem;
}

/* Cabeçalho do calendário */
.container-cale .header-cale {
    display: flex;
    align-items: center;
    padding: 1px 30px;
    justify-content: space-between;
}

.header-cale .seta {
    display: flex;
    align-items: center;
}

.header-cale .seta span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.5rem;
    user-select: none;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
}

/* seta de navegação no cabeçalho do calendário */
.seta span:last-child {
    margin-right: -10px;
}

.header-cale .seta span:hover {
    background: #201B2C;
}

.header-cale .data-atual {
    font-size: 0.86394rem;
    font-weight: 500;
    color: #FFF;
}

.calendario {
    padding: .625rem;
}

.calendario ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendario .dias {
    margin-bottom: 10px;
}

/* Estilo do calendario */

.calendario li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.86394rem;
}

.calendario .semanas li {
    font-weight: 500;
    cursor: default;
    color: #fff;
}

.calendario .dias li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    color: #fff;
}

.dias li.inactive {
    color: #555555;
}

.dias li.active {
    color: #fff;
}

.dias li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li.active::before {
    background: #4699E6;
}

.dias li:not(.active):hover::before {
    background: #201B2C;
}

#salas {
    padding-top: 2rem;
    width: 56.72138000000001rem;
    height: 24.93881rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

/* Estilo de turmas */

.turmas {
    width: 16.34331rem;
    height: 11.51906rem;
    border-radius: 1.25rem;
    background: #D9D9D9;
    text-align: center;
}

#turmac {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.26713rem;
    padding-top: 1rem;
}

#titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding-top: 0.8rem;
}

.logo {
    max-width: 64px;
    max-height: 64px;
    padding-right: 1rem;
    padding-left: 1.25rem;
}

/* Estilo de menu lateral */

#menu {
    margin-top: 4.375rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #201B2C;
    width: 3.86rem;
    height: 100%;
    border: 1px solid #4B4B4B;
    transition: width 0.3s;
}

.menu-item {
    display: flex;
    flex-direction: row;
    padding: 0.625rem 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
}

.menu-item:hover {
    width: 100%;
    background-color: #2D2840;
}

.menu-item img {
    width: 1.75rem;
    height: 1.75rem;
}

.menu-text {
    display: none;
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif
}

#menu:hover {
    width: 15rem;
    z-index: 3;
}

#menu:hover .menu-text {
    display: flex;


}

#home, #ajuda {
    margin-top: 4rem;
    padding: 0.625rem 1rem;
}

#mdia,#not {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.625rem 0.75rem;
}

#perfilopc {
    width: 2.53419rem;
    height: 2.53419rem;
}