/* HTML e corpo da página */
html,
body {
    background: #201B2C;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    transition: all 0.3s ;
    overflow-x: hidden;
}

/* Cabeçalho da página */
header {
    position: fixed;
    top: 0;
    background: #201B2C;
    display: flex;
    height: 4.375rem;
    width: 93.9%;
    border: 1px solid #4B4B4B;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.inicio {
    display: flex;
}

/* Contêiner principal da página */
#container {
    margin-left: 3.80rem;
    margin-top: 4rem;
    width: 100%;
    height: 28.625rem;
    display: grid;
    justify-content: center;
    transition: margin-left 0.3s ease, transform 0.3s ease;
    z-index: 3;
}

/* Estilos para a seção de textos */
#textos {
    font-family: 'Poppins', sans-serif;
    display: inline;
    padding-top: 3rem;
    color: #FFFFFF;
}

/* Seção de atividades */
#atvi {
    padding-right: 6.5rem;
    display: grid;
    gap: 0.64rem;
    align-content: center;
}

.atividade {
    display: flex;
    width: 39.45281rem;
    height: 3.73219rem;
    border-radius: 1.25rem;
    background: #2D2840;
    box-shadow: 2px 6px 19px 0px rgba(0, 0, 0, 0.25);
    color: #ADADAD;
    align-items: center;
}

#atv {
    font-size: 1.267rem;
}

.at {
    padding-left: 0.96rem;
    width: 2.76456rem;
    height: 2.76456rem;
}

#g1 {
    padding-left: 1.57rem;
    font-family: 'Poppins';
}

#g2 {
    font-size: 0.806rem;
    font-family: 'Poppins';
    padding-left: 17rem;
}

#t-atv, #disciplina, #dia, #hora {
    margin: 0;
}

#av {
    width: 63.1245rem;
    display: flex;
    align-items: flex-start;
}

ul {
    padding-inline-start: 0;
}

/* Contêiner do calendário */
.container-cale {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4B4B4B;
    width: 18.7rem;
    border-radius: 0.46075rem;
    background: #2D2840;
    box-shadow: 1.84305px 14.74442px 17.509px 0px rgba(0, 0, 0, 0.09);
    font-family: 'Poppins', sans-serif;
    font-size: 0.864rem;
}

/* Cabeçalho do calendário */
.container-cale .header-cale {
    display: flex;
    align-items: center;
    padding: 1px 30px;
    justify-content: space-between;
}

.header-cale .seta {
    display: flex;
    align-items: center;
}

.header-cale .seta span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.5rem;
    user-select: none;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
}

/* seta de navegação no cabeçalho do calendário */
.seta span:last-child {
    margin-right: -10px;
}

.header-cale .seta span:hover {
    background: #201B2C;
}

.header-cale .data-atual {
    font-size: 0.86394rem;
    font-weight: 500;
    color: #FFF;
}

.calendario {
    padding: .625rem;
}

.calendario ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendario .dias {
    margin-bottom: 10px;
}

/* Estilo do calendario */

.calendario li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.86394rem;
}

.calendario .semanas li {
    font-weight: 500;
    cursor: default;
    color: #fff;
}

.calendario .dias li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    color: #fff;
}

.dias li.inactive {
    color: #555555;
}

.dias li.active {
    color: #fff;
}

.dias li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li.active::before {
    background: #2CD986;
}

.dias li:not(.active):hover::before {
    background: #201B2C;
}

#salas {
    padding-top: 2rem;
    width: 56.72138000000001rem;
    height: 24.93881rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

/* Estilo de turmas */

.turmas {
    width: 16.34331rem;
    height: 11.51906rem;
    border-radius: 1.25rem;
    background: #D9D9D9;
    text-align: center;
}

#turmac {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.26713rem;
    padding-top: 1rem;
}

#titulo {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding-top: 0.8rem;
}

.logo {
    max-width: 64px;
    max-height: 64px;
    padding-right: 1rem;
    padding-left: 1.25rem;
}

/* Estilo de menu lateral */

#menu {
    gap: .8125rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #201B2C;
    width: 3.86rem;
    height: 100%;
    border-right: 1px solid #4B4B4B;
    transition: width 0.3s;
    z-index: 4;
}

.menu-item {
    display: flex;
    flex-direction: row;
    padding: .375rem 1.125rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    justify-content:flex-start;
    align-self: center;
}

.menu-item:hover {
    width: 100%;
    background-color: #2D2840;
}

.menu-item img {
    width: 1.25rem;
    height: 1.25rem;
}

.menu-text {
    display: none;
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    color: rgba(117, 117, 117);
    font-family: 'Poppins', sans-serif
}

#menu:hover {
    width: 15rem;
    z-index: 3;
}

#menu:hover #separator {
    width: 12rem;
    transition: width ease;
    margin: .875rem;
}

#menu:hover .menu-text {
    display: flex;
}

#menu:hover + #container {
    margin-left: 15rem;
}

#home, #ajuda {
    margin-top: 2rem;
    padding: 0.625rem 1.2rem;

}

#not {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.625rem 3rem;
}

#perfilopc {
    width: 2.53419rem;
    height: 2.53419rem;
}

#menu-icon{
    padding-top: 1rem;
    padding-left: 1.27rem;
}

#separator{
    border-top: 1px solid #666;
    margin: 1rem;
    width: 1.125rem;
    align-self: center;
}

/* Estilo para a tela escura de fundo 
.telaDesativada {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Estilo para o backdrop 
.backdrop {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}*/

/* Estilo para o popup de remoção */
.popupRemove {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#2D2840;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    transition: transform 0.4s, top 0.4s; 
}

.popupRemove.open_popup {
    transform: translate(-50%, -50%);
    top: 50%;
    display: block;
}

/* Estilo para o popup de edição */
.popupEdit {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #2D2840;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    transition: transform 0.4s, top 0.4s; 
}

.popupEdit.popupEditOpen {
    transform: translate(-50%, -50%);
    top: 50%;
    display: block;
}


.popupAdd {
    width: 400px;
    background-color: #2D2840;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popupAdd.openAddPopup {
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    visibility: visible;
}

.popupAdd img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.popupAdd h2 {
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
}


/* Estilo para os botões dentro dos popups */
.popupRemove button,
.popupEdit button,
.popupAdd button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

/* Estilo para a caixa de turmas */
.box-turma {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo para cada card de turma */
.turma {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

/* Estilo para as opções de edição/exclusão dentro do card */
.turma-option {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Estilo para os ícones de edição/exclusão */
.turma-option img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}
