@media screen and (max-width:1005px) {
    /* .conteiner{
        display: none;
    } */
    /* .usuario-conteiner{
        position: relative;
    } */
    /* .gestao-de-dados{
        margin: 0;
        text-align: center;
    } */
    .conteiner{
        padding-top: 50px;
    }

    .usuario-conteiner{
        flex: 100%;
        margin: 10%;
        text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .gestao-de-dados{
        flex: 100%;
        margin: 10%;
        text-align: center;
    }
    /* .card{
        width: 100%;
    } */
}